<section data-ng-controller="AclResourceController" data-ng-init="findOne()">
    <table class="table table-striped aclRoleTable">
        <tbody>
        <tr>
            <td>资源名：</td>
            <td>{{AclResource.resource_name}}</td>
        </tr>
        <tr>
            <td>资源描述：</td>
            <td>{{AclResource.resource_desc}}</td>
        </tr>
        <tr>
            <td>链接URL：</td>
            <td>{{AclResource.resource_url}}</td>
        </tr>
        <tr>
            <td >父资源：</td>
            <td>{{AclResource.father_resource | getAclResource}}</td>
        </tr>
        <tr>
            <td>有效？：</td>
            <td>{{AclResource.is_active | boolean}}</td>
        </tr>
        <tr>
            <td>创建时间：</td>
            <td>{{AclResource.timestamp_added | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        <tr>
            <td>修改时间：</td>
            <td>{{AclResource.timestamp_modified | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        <tr>
            <td>失效时间：</td>
            <td>{{AclResource.timestamp_deactivated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
          </tbody>
    </table>
    <a  href="/#!/AclResource/{{AclResource._id}}/edit" class="btn btn-primary">编辑{{AclResource.role_name}}</a>
    <a  href="/#!/AclResource" class="btn btn-default">资源列表</a>
</section>